{
	"parser": "@typescript-eslint/parser",
	"files": ["*.ts", "*.js"],
	"parserOptions": { "project": ["./tsconfig.json"], "ecmaVersion": "latest", "sourceType": "module" },
	"plugins": [
	  "@typescript-eslint",
	  "react",
	  "mocha",
	  "prettier"
	],
	"extends": [
	  "plugin:react/recommended",
	  "eslint:recommended",
	  "plugin:prettier/recommended",
	  "plugin:mocha/recommended",
	  "plugin:@typescript-eslint/eslint-recommended",
	  "plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"react/react-in-jsx-scope": "off"
	}
}